.header__container {
    background-color: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 60px;
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.logo__container img {
    width: 60%;
    /* height: 50px; */
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
}

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
}

.delivery p {
    font-size: 10px;
}

.search {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
}

.search select,
.search input {
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
}

.search select {
    border: none;
}

.search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}

.search svg {
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
}

.search svg:hover {
    background-color: #d49644;
}

.search:focus-within {
    border: 2px solid rgb(235, 161, 173);
}

/* order class */
.order__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.order__container select {
    border: none;
    background-color: #1a1a1a;
    color: white;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}